.distill-site-nav {
  color: rgb(240, 240, 240);
  background-color: #456087;
  font-size: 1em;
  font-weight: 400;
}

.distill-site-nav .title {
    font-size: 1.2em;
    font-weight: 500;
  }

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
  text-decoration: underline;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}