.root{
  position: relative;
}
.cooltip{
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  padding: 0px;
}
.zipName{
  font-weight: 700;
  font-size: 16px;
}
.zip{
  font-weight: 500;
  font-size: 16px;
}
.desc{
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
  margin-top: 3px;
}
.cases{
  margin-top: 2px;
  font-size: 14px;
  font-weight: 700;
}
.twoWeeks{
  font-size: 14px;
}
.lineChart{
  float: left;
  width:125px; 
  height:50px; 
  color: gray;
}
.county{
  font-weight: 700;
  font-size: 16px;
}
.date{
  font-weight: 700;
  font-size: 14px;
}
.num{
  font-size: 14px;
}
.instructions{
  font-size: 11px;
  color: gray;
  padding-top: 2px;
}
.descBig{
  color: #456087;
  font-size: 16px;
  font-family: Helvetica, sans-serif, Arial;
  text-transform: uppercase;
}
.subhead{
  font-weight: 500;
  font-size: 22px;
  font-family: Helvetica, sans-serif, Arial;
}
.cardNum{
  font-size: 40px;
  font-family: Helvetica, sans-serif, Arial;
}
.changeNum{
  font-size: 24px;
  font-family: Helvetica, sans-serif, Arial;
}
.title{
  font-size: 45px;
  font-weight: 550;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Helvetica, sans-serif, Arial;
  padding-top: 20px;
  padding-bottom: 20px;
}



.toggleMap{
  display: none;
  width: 100%;
}
.toggleMap.toggleMapVisible{
  display: block;
}
.toggleLine{
  display: none;
}
.toggleLine.toggleLineVisible{
  display: block;
}
.toggleBar{
  display: none;
}
.toggleBar.toggleBarVisible{
  display: block;
}



.header{
  height: 80px;
  font-size: 29pt;
  font-weight: 550;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #456087;
  color: white;
  text-indent: 1%;
  padding-top: 8px;
}
.subheader{
  height: 80px;
  font-size: 16px;
  background-color: #456087;
  color: white;
  padding-top: 0.5%;
}
.mapContainer{
  border: 5px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 10px;
}
.lineChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 34px;
  padding-bottom: 15px;
}
.barChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 12px;
  padding-bottom: 15px;
}
.toplineNumbers{
  background-color: white;
  border: 5px solid #e7e7e7;
}
.card{
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid white;
}
.dataTable{
  background-color: white;
  border: 5px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 20px;
}
.tableEmbed{
  display: block;
  margin: none;
}
.footer{
  height: 60px;
  width: 100%;
  font-size: 14px;
  background-color: #e7e7e7;
  color: gray;
  text-align: center;
}

.btn:hover{
  color: white;
  border: #456087 solid 1px;
  background:#456087;
}