.root{
  position: relative;
}
.cooltip{
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  position: absolute;
  display: none;
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  padding: 0px;
}
.zipName{
  font-weight: 700;
  font-size: 16px;
}
.zip{
  font-weight: 500;
  font-size: 16px;
}
.desc{
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
  margin-top: 3px;
}
.cases{
  margin-top: 2px;
  font-size: 14px;
  font-weight: 700;
}
.twoWeeks{
  font-size: 14px;
}
.lineChart{
  float: left;
  width:125px; 
  height:50px; 
  color: gray;
}
.county{
  font-weight: 700;
  font-size: 16px;
}
.date{
  font-weight: 700;
  font-size: 14px;
}
.num{
  font-size: 14px;
}




.instructions{
  font-size: 0.5em;
  color: gray;
  padding-top: 2px;
}
.descBig{
  font-size: 0.5em;
  font-family: Helvetica, sans-serif, Arial;
  text-transform: uppercase;
}
.subhead{
  font-weight: 500;
  font-size: 0.65em;
  font-family: Helvetica, sans-serif, Arial;
}
.cardNum{
  font-size: 1.2em;
  font-family: Helvetica, sans-serif, Arial;
}
.changeNum{
  font-size: 0.9em;
  font-family: Helvetica, sans-serif, Arial;
}
.header{
  font-size: 1.9em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #456087;
  color: white;
  padding-left: 15px;
  padding-top: 5px;
}
.subheader{
  height: 50px;
  font-size: 0.6em;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #456087;
  color: white;
  padding-top: 0.5%;
  padding-left: 15px;
}
.card{
  border: 3px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.toplineNumbers{
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
}
.dataTable{
  background-color: white;
  border: 5px solid #e7e7e7;
  padding-top: 10px;
  height: 500px;
}
.btn{
  background-color: #f5f5f5;
  border: #e4e4e4 solid 1px;
  font-size: 0.8em;
}
.footer{
  height: 50px;
  width: 100%;
  font-size: 0.7em;
  background-color: #e7e7e7;
  color: gray;
  text-align: center;
  padding-top: 5px;
}
@media (min-width: 576px) { 
  .instructions{
    font-size: 0.6em;
  }
  .descBig{
    font-size: 0.8em;
  }
  .subhead{
    font-size: 1.1em;
  }
  .cardNum{
    font-size: 2em;
  }
  .changeNum{
    font-size: 1.4em;
  }
  .header{
    height: 60px;
    font-size: 1.8em;
    padding-left: 20px;
    padding-top: 8px;
  }
  .subheader{
    height: 60px;
    font-size: 0.8em;
  }
  .card{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid #e7e7e7;
  }
  .toplineNumbers{
    border: 0px solid #e7e7e7;
  }
  .dataTable{
    background-color: white;
    border: 5px solid #e7e7e7;
    padding-top: 10px;
    height: auto;
  }
  .btn{
    background-color: #f5f5f5;
    border: #e4e4e4 solid 1px;
  }
  .footer{
    font-size: 0.9em;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .instructions{
    font-size: 0.8em;
  }
  .descBig{
    font-size: 1em;
  }
  .subhead{
    font-size: 1.5em;
  }
  .cardNum{
    font-size: 2.5em;
  }
  .changeNum{
    font-size: 1.6em;
  }
  .header{
    height: 100px;
    font-size: 1.6em;
    padding-top: 10px;
  }
  .subheader{
    height: 100px;
    font-size: 0.9em;
    padding-top: 15px;
    padding-left: 5px;
  }
  .card{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .instructions{
    font-size: 0.8em;
  }
  .descBig{
    font-size: 1em;
  }
  .subhead{
    font-size: 1.5em;
  }
  .cardNum{
    font-size: 2.5em;
  }
  .changeNum{
    font-size: 1.6em;
  }
  .header{
    height: 80px;
    font-size: 2.4em;
    padding-top: 10px;
  }
  .subheader{
    height: 80px;
    font-size: 1em;
    padding-left: 5px;
  }
  .card{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}





.toggleMap{
  display: none;
  width: 100%;
}
.toggleMap.toggleMapVisible{
  display: block;
}
.toggleLine{
  display: none;
}
.toggleLine.toggleLineVisible{
  display: block;
}
.toggleBar{
  display: none;
}
.toggleBar.toggleBarVisible{
  display: block;
}




.mapContainer{
  border: 5px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lineChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 34px;
  padding-bottom: 15px;
}
.barChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 12px;
  padding-bottom: 15px;
}
.tableEmbed{
  display: block;
  margin: none;
}



.btn:hover{
  color: white;
  border: #456087 solid 1px;
  background:#456087;
}