.root{
  position: relative;
}
.cooltip{
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  position: absolute;
  display: none;
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  padding: 0px;
}
.zipName{
  font-weight: 700;
  font-size: 16px;
}
.zip{
  font-weight: 500;
  font-size: 16px;
}
.desc{
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
  margin-top: 3px;
}
.cases{
  margin-top: 2px;
  font-size: 14px;
  font-weight: 700;
}
.twoWeeks{
  font-size: 14px;
}
.caseTotal{
  font-size: 14px;
}
.lineChart{
  float: left;
  width:125px;
  height:50px;
  color: gray;
}
.county{
  font-weight: 700;
  font-size: 16px;
}
.date{
  font-weight: 700;
  font-size: 14px;
}
.num{
  font-size: 14px;
}


.navbar {
  font-size: 0.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #456087;
}
.navbar-brand {
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #456087;
}
.instructions{
  font-size: 0.8em;
  color: gray;
  padding-top: 2px;
}
.descBig{
  font-size: 0.8em;
  text-transform: uppercase;
}
.subhead{
  font-weight: 500;
  font-size: 0.9em;
}
.cardNum{
  font-size: 1.6em;
}
.changeNum{
  font-size: 1.3em;
}
.card{
  border: 3px solid #e7e7e7;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.toplineNumbers{
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
}
.btn{
  background-color: #f5f5f5;
  border: #e7e7e7 solid 1px;
  color: #666666;
  font-size: 0.8em;
}
.footer{
  height: 50px;
  width: 100%;
  font-size: 0.7em;
  background-color: #e7e7e7;
  color: gray;
  text-align: center;
  padding-top: 5px;
}
.lineChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 15px;
}
.toggleMap{
  display: none;
  width: 100%;
}
text {
  font-size: 10px;
}
.mapContainer{
  border: 5px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.barChartContainer{
  border: 5px solid #e7e7e7;
  padding-top: 12px;
  padding-bottom: 15px;
}
.tableContainer{
  border: 5px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 450px;
}
.map{
  font-weight: 500;
}
.mapTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media (min-width: 350px) {
  .navbar {
    font-size: 0.8em;
  }
}
@media (min-width: 380px) {
  .navbar {
    font-size: 0.9em;
  }
}
@media (min-width: 576px) {
  .instructions{
    font-size: 1em;
  }
  .descBig{
    font-size: 1.1em;
  }
  .subhead{
    font-size: 1.3em;
  }
  .cardNum{
    font-size: 2.3em;
  }
  .changeNum{
    font-size: 1.7em;
  }
  .card{
    border: 5px solid #e7e7e7;
  }
  .toplineNumbers{
    border: 0px solid #e7e7e7;
  }
  .btn{
    border: #e7e7e7 solid 1px;
  }
  .footer{
    font-size: 0.9em;
    height: 60px;
  }
  .mapTitle{
    font-size: 20px;
  }
  .navbar {
    font-size: 1em;
  }
  .navbar-brand {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #456087;
  }
  text {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .instructions{
    font-size: 0.8em;
  }
  .descBig{
    font-size: 0.8em;
  }
  .subhead{
    font-size: 1.2em;
  }
  .cardNum{
    font-size: 2em;
  }
  .changeNum{
    font-size: 1.4em;
  }
  .card{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  text {
    font-size: 10.5px;
  }
  .mapTitle{
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .instructions{
    font-size: 0.8em;
  }
  .descBig{
    font-size: 0.8em;
  }
  .subhead{
    font-size: 1em;
  }
  .cardNum{
    font-size: 2em;
  }
  .changeNum{
    font-size: 1.4em;
  }
  text {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  .instructions{
    font-size: 0.8em;
  }
  .descBig{
    font-size: 0.8em;
  }
  .subhead{
    font-size: 1em;
  }
  .cardNum{
    font-size: 1.35em;
  }
  .changeNum{
    font-size: 1.3em;
  }
  .toggleMap{
    display: none;
    width: 100%;
  }
  text {
    font-size: 10px;
  }
}
@media (min-width: 1600px) {
  text {
    font-size: 12px;
  }
}
@media (min-width: 1800px) {
  text {
    font-size: 14px;
  }
}


.toggleMap.toggleMapVisible{
  display: block;
}
.toggleLine{
  display: none;
}
.toggleLine.toggleLineVisible{
  display: block;
}
.toggleBar{
  display: none;
}
.toggleBar.toggleBarVisible{
  display: block;
}
.toggleTable{
  display: none;
}
.toggleTable.toggleTableVisible{
  display: block;
}





.btn.engaged{
  font-weight: 600;
  color: black;
  border: #e7e7e7 solid 1px;
  background:#ffffff;
}
.btn:hover{
  color: white;
  border: #456087 solid 1px;
  background:#456087;
}



a:link {
  color: grey;
}
a:visited {
  color: #456087;
}
a:hover {
  color: #456087;
}
a:active {
  color: #456087;
}

iframe {
  margin-left: -15px;
  margin-right: -15px;
  width:  calc(100% + 30px);
  border: none;
  flex-grow: 1;
}




.navbar-brand:hover{
  color: white;
  text-decoration: none;
}

.navbar a {
  color: white;
}
.nav-item a:hover {
  color: #e7e7e7;
  text-decoration: underline;
}

.navbar-toggler{
  border-color: none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='none' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}